<!DOCTYPE html>
<html>
<head>
    <title>User Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p> </p>
          <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
            <div class="container">
              <label for="uname"><b>Name</b></label>
              </br></br>
              <input type="text" placeholder="Enter Name" name="name" required>
                </br></br>
              <label for="age"><b>Age</b></label>
              </br></br>
              <input type="text" placeholder="Enter Age" name="age" required>
                </br></br>
              <label for="email"><b>Email</b></label>
              </br></br>
              <input type="email" placeholder="Enter Password" name="email" required>
                </br></br>
              
              <label for="password"><b>Password</b></label>
              </br></br>
              <input type="password" placeholder="Enter Password" name="password" required>
                </br></br>
              <button type="submit">Register</button>
            </div>
          </form>
           <p id="message-1"></p>
        <p id="message-2"></p>
        </p>
    </div>
    {{>footer}} 
</body>
</html>