<!DOCTYPE html>
<html>
<head>
    <title>Information</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <div class="main-content">
        {{>header-inner}}
        <p>Hi there ! Welcome... </p>
             <p id="message-1"></p>
        <p id="message-2"></p>
        </p>
    </div>
    {{>footer}}
</body>
</html>