<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header-inner}}
             <p id="message-1">{{successMessage}}</p>
        <p id="message-2"></p>
        </p>
    </div>
    {{>footer}}
</body>
</html>